<!DOCTYPE html>
<html>
<head>
	<title>Dashboard</title>
	<%- include('./header'); %>
</head>
<body>
	<!-- header bar -->
	<section class="header">
		<h3 class='left-text'>Automation Execution Dashboard</h3>
		<img src="/images/omers.png">
		<h3 class='right-text'><%= env %></h3>
	</section>

	<div id='root'></div>
	<script src='/javascript/app.js'></script>
</body>



</html>
